.hallway {  
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body {
    background-color: rgb(55, 78, 126);
}
  
.dashboard {
    background-color: aliceblue;
    width: 960px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}