.hallway {  
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body {
    background-color: rgb(55, 78, 126);
}
  
.dashboard {
    background-color: aliceblue;
    width: 960px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    
}

html, body { height: 100%; padding: 0; margin: 0; font-family: 'Work Sans';}
.dashboard div { width: 50%; height: 50%; float: left; }



.des .des-container {
    background-color: #FFFFFF;
    margin-left:77px;
    width: 354.75px;
    height: 212.25px;
    border-radius: 20px;
    border: gainsboro 1px solid;
}


.color-guide5, .color-guide4, .color-guide3, .color-guide2, .color-guide1 {
    background-color: #000000;
    border-radius: 5px;
    margin-top:-35px;
    margin-left: 230px;
    width: 20px !important;
    height: 20px !important;
}

.des p {
    margin-left: 30px;
    margin-top:11px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo {
    margin-top: -50px;
    margin-left: -50px;
    width: 80px;
    height: 80px;
}


.stats div {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border: gainsboro 1px solid;
    border-radius: 15px;
}

.e1 {
    margin-top: 30px;
    margin-left: 39.75px;
}

.e2 {    
    margin-top: 30px;
    margin-left: 35.25px;

}

.e3 {
    margin-top:21px;
    margin-left: 39.75px;
}
  
.e4{
    margin-left:35.25px;
    margin-top:21px;
}

.energy-type {
    margin-left: 20px;
}

.perc1 {
    text-align: center;
    margin-top:20px;
    font-size: 35px;
    color: #51CA3D;
}

.perc2 {
    text-align: center;
    margin-top:20px;
    font-size: 35px;
    color: #DB0000;
}

.graph .graph-cont{
    margin-top:30px;
    margin-left: 75px;
    background-color: #FFFFFF;
    width: 354.755px;
    height: 249px;
    border: gainsboro 1px solid;
    border-radius: 15px;
}

.graph-cont div {
    float: left;
    width: 20px;
}

.vert {
    border-left: 1.5px solid #000000;
    height: 195px !important;
    margin-left: 30px;
    margin-top: 24px;
}

.horiz {
    border-top: 1.5px solid #000000;
    width: 310px !important;
    margin-left: 30px;
}

.bar1, .bar2, .bar3, .bar4, .bar5 {
    margin-top: 95px;
}

.bar1 {
    border-left: 40px solid green;
    height: 100px;
    margin-left: -3px;
}

.bar2 {
    border-left: 40px solid rgb(54, 67, 54);
    height: 100px;
}

.bar3 {
    border-left: 40px solid rgb(193, 108, 33);
    height: 100px;
}

.bar4 {
    border-left: 40px solid rgb(64, 57, 200);
    height: 100px;
}

.bar5 {
    border-left: 40px solid rgb(19, 129, 94);
    height: 100px;   
}






.than {
    font-weight: bolder;
    color: #666666;
    font-size: 13px;
    margin-top: -30px;
    margin-left: 105px;
}

.than-blah {
    font-weight: bolder;
    color: #666666;
    font-size: 13px;
    margin-top: -15px;
    margin-left: 61px;
}

.quote div {
    width: 335.25px;
    height: 150px;
    background-color: #FFFFFF;
    border: gainsboro 1px solid;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 39.75px;
}
