.hallway {  
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body {
    background-color: rgb(55, 78, 126);
}
  
.dashboard {
    background-color: aliceblue;
    width: 960px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    
}

html, body { height: 100%; padding: 0; margin: 0; font-family: 'Work Sans';}
.dashboard div { width: 50%; height: 50%; float: left; }



.des div {
    background-color: rgb(211, 223, 241);
    margin-left: 100px;
    width: 360.75px;
    height: 212.25px;
    border-radius: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo {
    margin-top: -50px;
    margin-left: -50px;
    width: 80px;
    height: 80px;
}


.stats div {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border: gainsboro 1px solid;
    border-radius: 15px;
}

.e1 {
    margin-top: 30px;
    margin-left: 39.75px;
}

.e2 {    
    margin-top: 30px;
    margin-left: 35.25px;

}

.e3 {
    margin-top:21px;
    margin-left: 39.75px;
}
  
.e4{
    margin-left:35.25px;
    margin-top:21px;
}

.energy-type {
    margin-left: 20px;
}

.perc1 {
    text-align: center;
    margin-top:20px;
    font-size: 35px;
    color: #51CA3D;
}

.perc2 {
    text-align: center;
    margin-top:20px;
    font-size: 35px;
    color: #DB0000;
}

.than {
    font-weight: bolder;
    color: #666666;
    font-size: 13px;
    margin-top: -30px;
    margin-left: 105px;
}

.than-blah {
    font-weight: bolder;
    color: #666666;
    font-size: 13px;
    margin-top: -15px;
    margin-left: 61px;
}

.quote div {
    width: 335.25px;
    height: 150px;
    background-color: #8a3c3c;
    border: gainsboro 1px solid;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 39.75px;
}
